In [8]:
# 패키지 참조

import pandas as pd
from pandas import read_excel, read_csv, DataFrame, merge, cut, get_dummies
from matplotlib import pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from scipy import stats
import seaborn as sb
import numpy as np
from patsy import dmatrix
import sys
import os
from scipy.stats import shapiro, normaltest, ks_2samp, bartlett, fligner, levene, chi2_contingency,t
from scipy.stats import skew, kurtosis
import statsmodels.api as sm
from math import sqrt

from sklearn.decomposition import PCA #주성분 분석용 패키지
from pca import pca # 주성분 분석 결과를 DataFrame으로 확인할 수 있는 기능을 제공하는 패키지

sys.path.append("../") # helper 모듈의 위치 확인 후 입력 결정
import helper

In [10]:
origin = read_excel("엑셀자료/세종특별자치시_교차로 방향별_교통_통행량.xlsx")
#../는 상위폴더를 의미,'선생님자료' 폴더가 현재 자리 기준으로 
#2번 위에 있는 상위폴더에 있으므로 ../를2번 기재
origin

       교차로명       수집년월       동       서         남       북   교통량 합계
0     가람교차로 2023-05-22  251934  172013     920.0     574   425441
1     가람교차로 2023-06-22  238017  160764  357723.0  248283  1004787
2     가람교차로 2023-07-22  243795  167005  366842.0  250169  1027811
3     가람교차로 2023-08-22  241773  162362  362408.0  247174  1013717
4     가람교차로 2023-09-22  247753  161082  374796.0  247735  1031366
..      ...        ...     ...     ...       ...     ...      ...
138  파란달교차로 2023-11-22  348231  123589  260034.0  338179  1070033
139  파란달교차로 2023-12-22  324453  118943  250041.0  312633  1006070
140  파란달교차로 2023-01-23  309008  109598  238946.0  299498   957050
141  파란달교차로 2023-02-23  312053  113816  226859.0  299734   952462
142  파란달교차로 2023-03-23  355993  129561  255335.0  352242  1093131

[143 rows x 7 columns]

수집년월별로 sort하면 날짜당 교차로들이 하나씩 모일거임. 그후 날짜를 기준으로 전부 분리 후에 시각화하면
각 날짜에 따른 교차로별로 동서남북 교통량 합계 수치를 알 수 있음